<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{client-layout :: clientLayout(~{:: title},~{:: main})}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body>
<main id="main" class="row">
    <div class="col-3"></div>
    <div class="card col-6 justify-content-center">
        <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
                <a href="/" class="app-brand-link gap-2">
                    <img src="../images/logo.png">
                </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Quên mật khẩu? 🔒</h4>
            <p class="mb-4">Nhập email của bạn và chúng tôi sẽ gửi mật khẩu mới !</p>

            <th:block>
                <th:block th:if="${fail}">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        [[${fail}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </th:block>
                <th:block th:if="${success}">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        [[${success}]]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </th:block>
            </th:block>

            <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework"
                  action="/forgot-password" method="POST">
                <div class="mb-3 fv-plugins-icon-container">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email"
                           autofocus="">
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                    </div>
                </div>
                <button class="btn btn-primary d-grid w-100">Gửi mật khẩu mới cho tôi</button>
                <input type="hidden">
            </form>
            <div class="text-center">
                <a href="/login" class="d-flex align-items-center justify-content-center">
                    <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                    Trở lại đăng nhập
                </a>
            </div>
        </div>
    </div>
</main>
</body>

</html>