<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{client-layout :: clientLayout(~{::title},~{:: main})}">

<head>
    <title>Đăng nhập</title>
</head>

<body>

<main id="main">
    <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="row justify-content-center">
            <div class="col-8 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Đăng Nhập Để Tiếp Tục</h5>
                            <p class="text-center small"></p>
                        </div>
                        <th:block>
                            <th:block th:if="${fail}">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    [[${fail}]]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </th:block>
                            <th:block th:if="${success}">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    [[${success}]]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </th:block>

                            <th:block th:if="${param.fail}">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    [[${param.fail}]]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </th:block>
                            <th:block th:if="${param.success}">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    [[${param.success}]]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            </th:block>
                        </th:block>
                        <form class="row g-3 needs-validation" action="/login" method="post">

                            <div class="col-12">
                                <label for="yourUsername" class="form-label">Email</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    <input type="text" name="username" class="form-control" id="yourUsername"
                                           required>
                                    <div class="invalid-feedback">Please enter your username.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend2">
                                            <i id="iconEye"
                                               class="bi bi-eye"
                                               style="cursor: pointer"></i>
                                        </span>
                                    <input type="password" name="password" class="form-control" id="password"
                                           required
                                    >

                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Đăng Nhập</button>
                            </div>
                            <div class="col-6">
                                <a href="/register">Tạo tài khoản. </a></p>
                            </div>
                            <div class="col-6 text-end">
                                <a href="/forgot-password">Quên mật khẩu</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>
        var iconEye = document.getElementById("iconEye");
        var password = document.getElementById("password");
        var isShow = false;
        iconEye.addEventListener("click", () => {
            isShow = !isShow;
            if (isShow) {
                password.type = 'text'
            } else {
                password.type = 'password'
            }
        })
    </script>
</main>

</body>

</html>