<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{client-layout :: clientLayout(~{:: title},~{:: main})}">

<head>
    <title>Ăn Vặt Online</title>
</head>

<body>
<main id="main">

    <section class="bg-light py-5">
        <form class="row" action="/checkout" method="post" th:object="${checkoutDto}">
            <div class="col-md-8 col-12 mb-4">
                <!-- Checkout -->
                <div class="card shadow-0 border">
                    <div class="p-4">
                        <h5 class="card-title mb-3">Thông tin người nhận</h5>
                        <div class="row" >
                            <div class="col-12 mb-3">
                                <p class="mb-0">Tên người nhận:</p>
                                <div class="form-outline">
                                    <input type="text" th:field="*{name}" class="form-control" required>
                                </div>
                                <p class="errors" th:errors="*{name}"></p>
                            </div>
                            <div class="col-6 mb-3">
                                <p class="mb-0">Số điện thoại: </p>
                                <div class="form-outline">
                                    <input type="tel" th:field="*{phoneNumber}" value="" class="form-control" required>
                                </div>
                                <p class="errors" th:errors="*{phoneNumber}"></p>
                            </div>
                            <th:block th:if="${#authentication.principal == 'anonymousUser'}">
                                <div class="col-6 mb-3">
                                    <p class="mb-0">Email:</p>
                                    <div class="form-outline">
                                        <input type="email" th:field="*{email}" class="form-control" required>
                                    </div>
                                    <p class="errors" th:errors="*{email}"></p>
                                </div>
                            </th:block>

                            <div class="col-12">
                                <p class="mb-0">Địa chỉ:</p>
                                <div class="form-outline">
                                    <input type="text" th:field="*{address}" class="form-control" required>
                                </div>
                                <p class="errors" th:errors="*{address}"></p>
                            </div>
                        </div>


                        <div class="mb-3">
                            <p class="mb-0">Ghi chú:</p>
                            <div class="form-outline">
                                <label>
                                    <textarea class="form-control" rows="2" th:field="${checkoutDto.note}">
                                    </textarea>
                                </label>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="mb-3">
                            Quý khách thanh toán khi nhận hàng. Được kiểm tra kiện hàng rồi mới thanh toán tiền.
                        </div>
                    </div>
                </div>
                <!-- Checkout -->
            </div>
            <div class="col-md-4 col-12 d-flex justify-content-center justify-content-lg-end">
                <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                    <h6 class="mb-3">Đơn hàng của bạn</h6>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Tạm tính:</p>
                        <p class="mb-2" th:text="${#numbers.formatDecimal(totalPrice,3,'COMMA',0,'POINT') + ' đ'}"></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Phí ship :</p>
                        <p class="mb-2">+ 0 đ</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Tổng tiền:</p>
                        <p class="mb-2 fw-bold"
                           th:text="${#numbers.formatDecimal(totalPrice,3,'COMMA',0,'POINT') + ' đ'}"></p>
                    </div>
                    <hr>
                    <h6 class="text-dark my-4">Sản phẩm của bạn</h6>

                    <div class="d-flex align-items-center mb-4" th:each="cart :${cartDetailDtos}" >
                        <input type="hidden" th:value="${cart.id}" name="cartDetailIds">
                        <div class="me-3 position-relative">
                            <img th:src="@{/images/{image}(image=${cart.imageName})}" style="height: 96px; width: 96px;"
                                 class="img-sm rounded border" alt="Ảnh sản phẩm">
                        </div>
                        <div class="">
                            <div th:text="${cart.productName}">
                            </div>
                            <div class="price text-muted">
                                [[${cart.quantity.intValue()}]] x
                                [[${#numbers.formatDecimal(cart.price.intValue(),3,'COMMA',0,'POINT')}]] =
                                [[${#numbers.formatDecimal(cart.price.intValue() * cart.quantity,3,'COMMA',0,'POINT')}]]
                                đ
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success shadow-0 border">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
</body>

</html>