<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{client-layout :: clientLayout(~{:: title},~{:: main})}">

<head>
    <title>Ăn Vặt Online</title>


<body>
<main id="main">
    <!-- category -->
    <section>
        <div class="container pt-5">
            <nav class="row gy-4">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img th:src="@{/images/icon/bubble-tea.png}">
                                </button>
                                <div class="text-dark fw-bold">Trà sữa</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/sweet-soup.png">
                                </button>
                                <div class="text-dark fw-bold">Chè</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/smoothie.png">
                                </button>
                                <div class="text-dark fw-bold">Sinh tố</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/noodle.png">
                                </button>
                                <div class="text-dark fw-bold">Mì</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/pizza.png">
                                </button>
                                <div class="text-dark fw-bold">Pizza</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/spring-rolls.png">
                                </button>
                                <div class="text-dark fw-bold">Đồ cuốn</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/fried.png">
                                </button>
                                <div class="text-dark fw-bold">Đồ chiên</div>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-center d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-secondary mx-auto p-1 m-1"
                                        data-mdb-ripple-color="dark">
                                    <img src="./images/icon/cake.png">
                                </button>
                                <div class="text-dark fw-bold">Bánh ngọt</div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- category -->

    <!-- Products -->
    <section>
        <div class="container my-5">
            <header class="mb-4">
                <h3>New products</h3>
            </header>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex">
                    <div class="card w-100 my-2 shadow-2-strong">
                        <a href="#">
                            <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <a class="text-decoration-none" href="#">
                                <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                            </a>
                            <span class="d-flex">
                                <h5 class="">$510.00</h5>
                                <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                            </span>

                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                        class="bi bi-cart fa-lg text-secondary px-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex">
                    <div class="card w-100 my-2 shadow-2-strong">
                        <a href="#">
                            <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <a class="text-decoration-none" href="#">
                                <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                            </a>
                            <span class="d-flex">
                                <h5 class="">$510.00</h5>
                                <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                            </span>

                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                        class="bi bi-cart fa-lg text-secondary px-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center mt-2 mb-2">
                <a href="#" class="btn btn-warning w-25">Xem tất cả <strong>&gt;&gt;</strong></a>
            </div>
        </div>
    </section>
    <!-- Products -->

    <!-- Features -->
    <section>
        <div class="container">
            <div class="card p-4 bg-primary">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-white">Best products and brands in store</h4>
                        <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
                    </div>
                    <div class="col-auto"><a class="btn btn-white text-primary shadow-0" href="#">Discover</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->

    <!-- Recommended -->
    <section>
        <div class="container my-5">
            <header class="mb-4">
                <h3>Recommended</h3>
            </header>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex">
                    <div class="card w-100 my-2 shadow-2-strong">
                        <a href="#">
                            <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <a class="text-decoration-none" href="#">
                                <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                            </a>
                            <span class="d-flex">
                                <h5 class="">$510.00</h5>
                                <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                            </span>

                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                        class="bi bi-cart fa-lg text-secondary px-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2 mb-2">
                <a href="#" class="btn btn-warning w-25">Xem tất cả <strong>&gt;&gt;</strong></a>
            </div>
        </div>
    </section>
    <!-- Recommended -->
</main>

</body>

</html>
