<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{client-layout :: clientLayout(~{::title},~{::main})}">

<head>
    <title>Tất cả sản phẩm</title>
</head>

<body>
<main id="main">

    <!-- sidebar + content -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="p-3 m-2">
                    <form action="/category/search" method="get">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search"></span>
                            <input name="keys" type="text" class="form-control" placeholder="Tìm món ...">
                            <button type="submit" class="btn btn-primary input-group-text">Search</button>
                        </div>
                    </form>
                </div>
                <!-- sidebar -->
                <div class="col-lg-3">
                    <!-- Toggle button -->
                    <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span>Show filter</span>
                    </button>
                    <!-- Collapsible wrapper -->
                    <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        Related items
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="text-dark">Electronics </a></li>
                                            <li><a href="#" class="text-dark">Home items </a></li>
                                            <li><a href="#" class="text-dark">Books, Magazines </a></li>
                                            <li><a href="#" class="text-dark">Men's clothing </a></li>
                                            <li><a href="#" class="text-dark">Interiors items </a></li>
                                            <li><a href="#" class="text-dark">Underwears </a></li>
                                            <li><a href="#" class="text-dark">Shoes for men </a></li>
                                            <li><a href="#" class="text-dark">Accessories </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                        Brands
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                     aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        <div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckChecked1">
                                                <label class="form-check-label" for="flexCheckChecked1">Mercedes</label>
                                                <span class="badge badge-secondary float-end">120</span>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckChecked2">
                                                <label class="form-check-label" for="flexCheckChecked2">Toyota</label>
                                                <span class="badge badge-secondary float-end">15</span>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckChecked3">
                                                <label class="form-check-label"
                                                       for="flexCheckChecked3">Mitsubishi</label>
                                                <span class="badge badge-secondary float-end">35</span>
                                            </div>
                                            <!-- Checked checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckChecked4">
                                                <label class="form-check-label" for="flexCheckChecked4">Nissan</label>
                                                <span class="badge badge-secondary float-end">89</span>
                                            </div>
                                            <!-- Default checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">Honda</label>
                                                <span class="badge badge-secondary float-end">30</span>
                                            </div>
                                            <!-- Default checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">Suzuki</label>
                                                <span class="badge badge-secondary float-end">30</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        Price
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                     aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        <div class="range">
                                            <input type="range" class="form-range" id="customRange1">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <p class="mb-0">
                                                    Min
                                                </p>
                                                <div class="form-outline">
                                                    <input type="number" id="typeNumber" class="form-control">
                                                    <label class="form-label" for="typeNumber">$0</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0">
                                                    Max
                                                </p>
                                                <div class="form-outline">
                                                    <input type="number" id="typeNumber" class="form-control">
                                                    <label class="form-label" for="typeNumber">$1,0000</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-white w-100 border border-secondary">
                                            apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        Size
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                                     aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                               id="btn-check1" checked autocomplete="off">
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                               for="btn-check1">XS</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                               id="btn-check2" checked autocomplete="off">
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                               for="btn-check2">SM</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                               id="btn-check3" checked autocomplete="off">
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                               for="btn-check3">LG</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                               id="btn-check4" checked autocomplete="off">
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                               for="btn-check4">XXL</label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                        Ratings
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                                     aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        <!-- Default checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <i class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star text-warning"></i>
                                            </label>
                                        </div>
                                        <!-- Default checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <i class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star text-secondary"></i>
                                            </label>
                                        </div>
                                        <!-- Default checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <i class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-secondary"></i>
                                                <i class="fas fa-star text-secondary"></i>
                                            </label>
                                        </div>
                                        <!-- Default checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <i class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-secondary"></i><i
                                                    class="fas fa-star text-secondary"></i>
                                                <i class="fas fa-star text-secondary"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar -->
                <!-- content -->
                <div class="col-lg-9">
                    <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2">32 Items found </strong>
                        <div class="ms-auto">
                            <select class="form-select d-inline-block w-auto border pt-1">
                                <option value="0">Best match</option>
                                <option value="1">Recommended</option>
                                <option value="2">High rated</option>
                                <option value="3">Randomly</option>
                            </select>
                        </div>
                    </header>

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <a href="#">
                                    <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <a class="text-decoration-none" href="#">
                                        <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                                    </a>
                                    <span class="d-flex">
                                        <h5 class="">$510.00</h5>
                                        <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                                    </span>

                                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                        <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                        <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                                class="bi bi-heart fa-lg text-secondary px-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <a href="#">
                                    <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <a class="text-decoration-none" href="#">
                                        <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                                    </a>
                                    <span class="d-flex">
                                        <h5 class="">$510.00</h5>
                                        <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                                    </span>

                                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                        <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                        <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                                class="bi bi-heart fa-lg text-secondary px-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <a href="#">
                                    <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <a class="text-decoration-none" href="#">
                                        <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                                    </a>
                                    <span class="d-flex">
                                        <h5 class="">$510.00</h5>
                                        <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                                    </span>

                                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                        <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                        <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                                class="bi bi-heart fa-lg text-secondary px-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <a href="#">
                                    <img src="../images/product-1.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <a class="text-decoration-none" href="#">
                                        <p class="card-text">Slim sleeve wallet Italian leather - multiple colors</p>
                                    </a>
                                    <span class="d-flex">
                                        <h5 class="">$510.00</h5>
                                        <p class="ms-3 text-decoration-line-through text-secondary">$510.00</p>
                                    </span>

                                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                        <a href="#!" class="btn btn-primary shadow-0 me-1">Mua ngay</a>
                                        <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i
                                                class="bi bi-heart fa-lg text-secondary px-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sidebar + content -->
</main>
</body>

</html>
