<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{client-layout :: clientLayout(~{::title},~{::main})}">

<head>
    <title>Tất cả sản phẩm</title>
</head>

<body>
<main id="main">

    <!-- sidebar + content -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="p-3 m-2">
                    <form action="/product-all/search" method="get">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search"></span>
                            <input name="keys" type="text" class="form-control" placeholder="Tìm món ..."
                                   th:value="${param.keys?:''}">
                            <button type="submit" class="btn btn-primary input-group-text">Tìm</button>
                        </div>
                    </form>
                </div>

                <form class="row">
                    <!-- sidebar -->
                    <div class="col-lg-3">
                        <!-- Toggle button -->
                        <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span>Bộ Lọc</span>
                        </button>
                        <!-- Collapsible wrapper -->
                        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button text-dark bg-light" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                                aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                            Danh mục
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                         aria-labelledby="headingTwo">
                                        <div class="accordion-body">
                                            <div id="categories">
                                                <!-- Checked checkbox -->
                                                <!--                                            <div class="form-check">-->
                                                <!--                                                <input class="form-check-input" type="checkbox" value="">-->
                                                <!--                                                <label class="form-check-label">Mercedes</label>-->
                                                <!--                                            </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button text-dark bg-light" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            Khoảng giá
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                         aria-labelledby="headingThree">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <p class="mb-0">
                                                        Min
                                                    </p>
                                                    <div class="form-outline">
                                                        <input type="number" class="form-control" name="priceMin">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">
                                                        Max
                                                    </p>
                                                    <div class="form-outline">
                                                        <input type="number" class="form-control" name="priceMax">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-success w-100">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar -->
                    <!-- content -->
                    <div class="col-lg-9">
                        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                            <strong class="d-block py-2">[[${productCardDtos.totalElements}]] Sản phẩm</strong>
                            <div class="ms-auto">
                                <select class="form-select d-inline-block w-auto border pt-1"
                                        onchange="onFilter(event.target.value)" id="sortBy">
                                    <option value="-1">Mặc định</option>
                                    <option value="0">A-Z</option>
                                    <option value="1">Z-A</option>
                                    <option value="2">Giá tăng dần</option>
                                    <option value="3">Giá giảm dần</option>
                                </select>
                            </div>
                        </header>
                        <!--Products-->
                        <div>
                            <th:block th:if="${productCardDtos != null}">
                                <div class="row" id="productAll">
                                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex product-card"
                                         th:each="p: ${productCardDtos}"
                                         th:object="${p}">

                                        <div class="card w-100 my-2 shadow-2-strong">
                                            <a th:href="@{/product-detail/{id}(id=*{id})}">
                                                <img th:src="@{/images/{image}(image=*{imageName})}"
                                                     class="card-img-top"
                                                     style="aspect-ratio: 1 / 1" alt="">
                                            </a>
                                            <div class="card-body d-flex flex-column">
                                                <a class="text-decoration-none"
                                                   th:href="@{/product-detail/{id}(id=*{id})}">
                                                    <p class="card-text" th:text="*{name}"></p>
                                                </a>
                                                <div class="h5"
                                                     th:text="${(p.price.intValue() < 1000) ? p.price : #numbers.formatDecimal(p.price,3,'COMMA',0,'POINT')}">
                                                </div>
                                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                                    <a th:href="@{/add-cart/{productId}(productId = ${p.id})}"
                                                       class="btn btn-primary shadow-0 me-1">
                                                        <i class="bi bi-cart"></i>
                                                        Thêm giỏ hàng
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Pagination -->
                                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                                    <ul class="pagination">
                                        <li class="page-item"
                                            th:each="p : ${#numbers.sequence(0,productCardDtos.totalPages - 1)}">
                                            <a class="page-link"
                                               th:href="@{/product-all(page=${p},category=${param.category?:''},priceMin=${param.priceMin?:''},priceMax=${param.priceMax?:''})}"
                                               th:text="${p +1}"></a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- Pagination -->
                            </th:block>


                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- sidebar + content -->
    <script src="/js/categories-product-all.js"></script>
    <script src="/js/product-all-filter.js"></script>
</main>
</body>

</html>
