<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/admin-style.css" />
  </head>

  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Datatables</h5>
                <!-- <p>
                  Add lightweight datatables to your project with using the
                  <a
                    href="https://github.com/fiduswriter/Simple-DataTables"
                    target="_blank"
                    >Simple DataTables</a
                  >
                  library. Just add <code>.datatable</code> class name to any
                  table you wish to conver to a datatable
                </p> -->
                <button type="button" class="btn btn-primary float-end">
                  Thêm
                </button>

                <!-- Table with stripped rows -->
                <div
                  class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns"
                >
                  <div class="datatable-top">
                    <form class="datatable-search d-flex">
                      <input
                        class="datatable-input form-control w-50"
                        placeholder="Search..."
                        type="search"
                        title="Search within table"
                      />
                      <button type="button" class="btn btn-primary">
                        Search
                      </button>
                    </form>
                  </div>
                  <div class="datatable-container">
                    <table class="table datatable datatable-table">
                      <thead>
                        <tr>
                          <th
                            data-sortable="true"
                            style="width: 7.447633824670287%"
                          >
                            <button class="datatable-sorter">#</button>
                          </th>
                          <th
                            data-sortable="true"
                            style="width: 26.29945694336695%"
                          >
                            <button class="datatable-sorter">Name</button>
                          </th>
                          <th
                            data-sortable="true"
                            style="width: 35.53141970519783%"
                          >
                            <button class="datatable-sorter">Position</button>
                          </th>
                          <th
                            data-sortable="true"
                            style="width: 10.78355314197052%"
                          >
                            <button class="datatable-sorter">Age</button>
                          </th>
                          <th
                            data-sortable="true"
                            style="width: 19.937936384794412%"
                          >
                            <button class="datatable-sorter">Start Date</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-index="0">
                          <td>1</td>
                          <td>Brandon Jacob</td>
                          <td>Designer</td>
                          <td>28</td>
                          <td>2016-05-25</td>
                        </tr>
                        <tr data-index="1">
                          <td>2</td>
                          <td>Bridie Kessler</td>
                          <td>Developer</td>
                          <td>35</td>
                          <td>2014-12-05</td>
                        </tr>
                        <tr data-index="2">
                          <td>3</td>
                          <td>Ashleigh Langosh</td>
                          <td>Finance</td>
                          <td>45</td>
                          <td>2011-08-12</td>
                        </tr>
                        <tr data-index="3">
                          <td>4</td>
                          <td>Angus Grady</td>
                          <td>HR</td>
                          <td>34</td>
                          <td>2012-06-11</td>
                        </tr>
                        <tr data-index="4">
                          <td>5</td>
                          <td>Raheem Lehner</td>
                          <td>Dynamic Division Officer</td>
                          <td>47</td>
                          <td>2011-04-19</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="datatable-bottom">
                    <div class="datatable-info">
                      Showing 1 to 5 of 5 entries
                    </div>
                    <nav aria-label="Page navigation example">
                      <ul
                        class="pagination justify-content-end datatable-pagination-list"
                      >
                        <li class="page-item">
                          <a
                            class="page-link"
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >&laquo;</a
                          >
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">&raquo;</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <script src="/js/admin-main.js"></script>
  </body>
</html>
