<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin-layout :: admin-layout(~{::title},~{::main})}">
<head>
    <title>Danh mục</title>
</head>

<body>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <div class="d-flex justify-content-between align-items-center">
                <h1>Danh mục sản phẩm</h1>
                <div class="">
                    <a href="/admin/categories/save" class="btn btn-primary"> Thêm </a>
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/categories">Danh mục</a>
                </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <th:block>
            <th:block th:if="${fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>

            <th:block th:if="${param.fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${param.fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${param.success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
        </th:block>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row p-2">
                        <form class="d-flex col-7" method="get" action="/admin/categories/search">
                            <input
                                    class="datatable-input form-control w-75"
                                    placeholder="Nhập mã danh mục hoặc tên danh mục ..."
                                    type="text"
                                    name="keys"
                                    th:value="${param.keys ?: ''}"
                            />
                            <button class="btn btn-primary">
                                Tìm kiếm
                            </button>
                        </form>

                        <div class="col-2">
                        </div>
                        <div class="col-3">
                        </div>

                    </div>
                    <div class="card-body">

                        <!-- Table with stripped rows -->
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                            <div class="datatable-container">
                                <th:block th:if="${categories.totalElements == 0}">
                                    <h2 class="pt-5 text-center">Bạn chưa có danh mục nào</h2>
                                </th:block>

                                <th:block th:if="${categories.totalElements != 0}">
                                    <table class="table datatable datatable-table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Ảnh</th>
                                            <th>Mã Danh mục</th>
                                            <th>Tên Danh mục</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="c,i:${categories}">
                                            <td th:text="${i.index +1 }"></td>
                                            <td >
                                                <img th:src="@{/images/{fileName}(fileName=${c.imageUrl})}" width="100px">
                                            </td>
                                            <td th:text="${c.code }"></td>
                                            <td th:text="${c.name }"></td>
                                            <td>
                                                <a th:href="@{/admin/categories/{id}(id=${c.id}) }"><i
                                                        class="bi bi-pencil"></i>Sửa</a>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <div class="datatable-bottom">
                                        <div class="datatable-info">
                                            [[${1 * (categories.number + 1)}]] - [[${categories.numberOfElements *
                                            (categories.number + 1)}]] / [[${categories.totalElements}]]
                                        </div>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end datatable-pagination-list">
                                                <li class="page-item "
                                                    th:each="p: ${#numbers.sequence(0,categories.totalPages -1)}">
                                                    <th:block th:if="${param.keys == null}">
                                                        <a class="page-link"
                                                           th:href="@{/admin/categories(page=${p})}"
                                                           th:text="${p+1}">
                                                        </a>
                                                    </th:block>
                                                    <th:block th:if="${param.keys != null}">
                                                        <a class="page-link"
                                                           th:href="@{/admin/categories/search(page=${p},keys=${param.keys})}"
                                                           th:text="${p+1}">
                                                        </a>
                                                    </th:block>

                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
