<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin-layout :: admin-layout(~{::title},~{::main})}">
<head>
    <title>Khách Hàng</title>
</head>

<body>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Danh sách khách hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/customers">Khách hàng</a>
                </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <th:block>
            <th:block th:if="${fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>

            <th:block th:if="${param.fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${param.fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${param.success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
        </th:block>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/admin/customers/save" class="btn btn-primary float-end">
                            Thêm
                        </a>

                        <!-- Table with stripped rows -->
                        <div
                                class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns"
                        >
                            <div class="datatable-top">
                                <form class="datatable-search d-flex" method="get" action="/admin/customers/search">
                                    <input
                                            class="datatable-input form-control w-50"
                                            placeholder="Nhập mã, họ tên, số điện thoại, email ..."
                                            type="text"
                                            name="keys"
                                            th:value="${param.keys}"
                                    />
                                    <button class="btn btn-primary">
                                        Tìm kiếm
                                    </button>
                                </form>
                            </div>
                            <div class="datatable-container">
                                <th:block th:if="${customers.totalElements == 0}">
                                    <h2 class="pt-5 text-center">Bạn chưa có danh mục nào</h2>
                                </th:block>

                                <th:block th:if="${customers.totalElements != 0}">
                                    <table class="table datatable datatable-table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã</th>
                                            <th>Ảnh</th>
                                            <th>Họ tên</th>
                                            <th>Giới tính</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="c,i:${customers}">
                                            <th:block th:if="${c.roles.size() < 2}">
                                                <td th:text="${i.index +1 }"></td>
                                                <td th:text="${c.code}"></td>
                                                <td>
                                                    <img th:src="@{/images/{url} (url=${c.imageUrl ?: 'gamer.png'})}"
                                                         alt="" width="32px">
                                                </td>
                                                <td th:text="${c.lastName + ' ' +c.firstName}"></td>
                                                <td th:text="${c.gender != null ? (c.gender == true ?'Nam' : 'Nữ') :''}"></td>
                                                <td th:text="${c.email}"></td>
                                                <td th:text="${c.phoneNumber}"></td>
                                                <td>
                                                    <a th:href="@{/admin/customers/{id}(id=${c.id}) }"><i
                                                            class="bi bi-pencil"></i>Sửa</a>
                                                </td>
                                            </th:block>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <div class="datatable-bottom">
<!--                                        <div class="datatable-info">-->
<!--                                            [[${1 * (customers.number + 1)}]] - [[${customers.numberOfElements *-->
<!--                                            (customers.number + 1)}]] / [[${customers.totalElements}]]-->
<!--                                        </div>-->
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end datatable-pagination-list">
                                                <li class="page-item "
                                                    th:each="p: ${#numbers.sequence(0,customers.totalPages -1)}"
                                                    th:classappend="${param.page != null and param.page == p.toString() ? 'active' : ''}"
                                                >
                                                    <a class="page-link"
                                                       th:href="@{/admin/customers/search(page=${p},keys=${param.keys ?: ''})}"
                                                       th:text="${p+1}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
