<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin-layout :: admin-layout(~{::title},~{::main})}">
<head>
    <title>Hóa đơn</title>
</head>

<body>
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <div class="d-flex justify-content-between align-items-center">
                <h1>Danh sách hóa đơn</h1>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/orders">Hóa đơn</a>
                </li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->

    <section class="section">
        <th:block>
            <th:block th:if="${fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>

            <th:block th:if="${param.fail}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    [[${param.fail}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
            <th:block th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    [[${param.success}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </th:block>
        </th:block>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row p-2">
                        <form class="d-flex col-7 " method="get" action="/admin/orders/search">
                            <input
                                    class="datatable-input form-control w-75"
                                    placeholder="Nhập mã, họ tên, số điện thoại, email ..."
                                    type="text"
                                    name="keys"
                                    th:value="${param.keys ?: ''}"
                            />
                            <button class="btn btn-primary">
                                Tìm kiếm
                            </button>
                        </form>
                        <div class="col-2">
                        </div>
                        <div class="col-3">
                            <select class="form-select">
                                <option value="all">Tất cả</option>
                                <option value="active">Đang bán</option>
                                <option value="inActive">Ngừng bán</option>
                            </select>
                        </div>

                    </div>
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">

                            <div class="datatable-container">
                                <th:block th:if="${orderDtos == null or orderDtos.totalElements <= 0}">
                                    <h2 class="pt-5 text-center">Bạn chưa có đơn hàng nào</h2>
                                </th:block>
                                <th:block
                                        th:if="${orderDtos != null }">
                                    <table class="table datatable datatable-table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã HD</th>
                                            <th>Khách hàng</th>
                                            <th>Ngày tạo</th>
                                            <th>Tình trạng</th>
                                            <th>Trạng thái</th>
                                            <th>Tổng tiền</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="o,i:${orderDtos}">
                                            <td th:text="${i.index +1}"></td>
                                            <td>
                                                <a th:href="@{/admin/order-detail/{orderId}(orderId = ${o.orderId})}"
                                                   th:text="${o.orderCode}">
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/user-detail/{userId}(userId = ${o.userId})}"
                                                   th:text="${o.userFullName}">
                                                </a>
                                            </td>

                                            <td th:text="${#temporals.format(o.createdDate,'dd-MM-yyyy hh:mm:ss')}"></td>

                                            <th:block>
                                                <th:block th:if="${o.status == 0}">
                                                    <td >
                                                        <span class="badge bg-info text-dark">Đã đặt hàng</span>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${o.status == 1}">
                                                    <td >
                                                        <span class="badge bg-secondary">Đã xác nhận</span>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${o.status == 2}">
                                                    <td >
                                                        <span class="badge bg-warning text-dark">Đang giao</span>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${o.status == 3}">
                                                    <td >
                                                        <span class="badge bg-success">Đã nhận hàng</span>
                                                    </td>
                                                </th:block>
                                            </th:block>

                                            <th:block >
                                                <th:block th:if="${o.state == 0}">
                                                    <td >
                                                        <span class="badge bg-primary">Đang xử lý</span>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${o.state == 1}">
                                                    <td >
                                                        <span class="badge bg-success">Hoàn thành</span>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${o.state == 2}">
                                                    <td >
                                                        <span class="badge bg-danger">Đã hủy</span>
                                                    </td>
                                                </th:block>
                                            </th:block>

                                            <td class="fw-bold" th:text="${#numbers.formatDecimal(o.totalPrice,3,'POINT',0,'COMMA') + ' đ'}"></td>
                                            <td>
                                                <a th:href="@{/admin/order-detail/{orderId}(orderId=${o.orderId})}">
                                                    <i class="bi bi-pencil"></i>
                                                    Sửa
                                                </a>
                                            </td>

                                        </tr>
                                        </tbody>

                                    </table>
                                    <div class="datatable-bottom">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end datatable-pagination-list">
                                                <th:block th:if="${param.keys == null}">
                                                    <li class="page-item "
                                                        th:each="p: ${#numbers.sequence(0,orderDtos.totalPages -1)}">
                                                        <a class="page-link"
                                                           th:href="@{/admin/orders(page=${p})}"
                                                           th:text="${p+1}">
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${param.keys != null}">
                                                    <li class="page-item "
                                                        th:each="p: ${#numbers.sequence(0,orderDtos.totalPages -1)}">
                                                        <a class="page-link"
                                                           th:href="@{/admin/orders/search(page=${p},keys=${param.keys})}"
                                                           th:text="${p+1}">
                                                        </a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </nav>
                                    </div>
                                </th:block>
                            </div>

                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
