<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin-layout :: admin-layout(~{::title},~{::main})}">
<head>
    <title>Thêm người dùng</title>
</head>

<body>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thêm Admin</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/users">Người dùng</a>
                </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">

                <th:block>
                    <th:block th:if="${fail}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            [[${fail}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </th:block>
                    <th:block th:if="${success}">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            [[${success}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </th:block>

                    <th:block th:if="${param.fail}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            [[${param.fail}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </th:block>
                    <th:block th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            [[${param.success}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </th:block>
                </th:block>

                <!-- Multi Columns Form -->
                <form class="row g-3" action="/admin/users/save" th:object="${adminUserDto}"
                      enctype="multipart/form-data">
                    <th:block th:if="${adminUserDto.id != null}">
                        <input hidden="hidden" type="text" class="form-control" id="id" th:field="*{id}"/>
                    </th:block>
                    <!--Image upload here-->
                    <div>
                        <img th:src="@{/images/{url}(url=${adminUserDto.imageName ?: 'gamer.png'})}" id="imagePreview"
                             alt="Ảnh xem trước"
                             style="max-width: 150px; max-height: 150px;"/>
                    </div>

                    <div class="col-md-12 row">
                        <input type="file"
                               accept="image/*"
                               class="form-control"
                               id="imageUrl"
                               th:field="*{imageUrl}"
                               onchange="displayImage(this)"

                        />
                        <label class="errors" th:errors="*{imageUrl}"></label>
                    </div>
                    <div class="col-md-12">
                        <label for="code" class="form-label">Mã :</label>
                        <input type="text" class="form-control" id="code" th:field="*{code}"/>
                        <label class="errors" th:errors="*{code}"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Họ:</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"/>
                        <label class="errors" th:errors="*{lastName}"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">Tên:</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
                        <label class="errors" th:errors="*{firstName}"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="dateBirth" class="form-label">Ngày sinh:</label>
                        <input type="date" class="form-control" id="dateBirth"
                               th:field="*{dateBirth}"/>
                        <label class="errors" th:errors="*{dateBirth}"></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Giới tính:</label>
                        <br>
                        <!--                        Nam-->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       th:field="*{gender}"
                                       th:value="true"
                                />Nam
                            </label>
                        </div>
                        <!--                        Nữ-->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       th:field="*{gender}"
                                       th:value="false"
                                /> Nữ
                            </label>
                        </div>
                        <label class="errors" th:errors="*{gender}"></label>
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                        <label class="errors" th:errors="*{email}"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}"/>
                        <label class="errors" th:errors="*{phoneNumber}"></label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Chức vụ:</label>
                        <br>
<!--                        Khách hàng-->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       th:field="*{position}"
                                       th:value="0"
                                /> Khách hàng
                            </label>
                        </div>
<!--                        Admin-->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="radio"
                                       name="gender"
                                       th:field="*{position}"
                                       th:value="1"
                                />Admin
                            </label>
                        </div>

                        <label class="errors" th:errors="*{position}"></label>
                    </div>
                    <div class="col-md-12">
                        <label for="address" class="form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" id="address" th:field="*{address}"/>
                        <label class="errors" th:errors="*{address}"></label>
                    </div>
                    <th:block th:if="${adminUserDto.id == null}">
                        <div class="col-md-12">
                            <label for="password" class="form-label">Mật khẩu:</label>
                            <input type="text" class="form-control" id="password" th:field="*{password}"/>
                            <label class="errors" th:errors="*{password}"></label>
                        </div>
                    </th:block>


                    <div class="">
                        <th:block th:if="${adminUserDto.id == null}">
                            <button type="submit"
                                    class="btn btn-success"
                                    th:formaction="'/admin/users/add'"
                                    th:formmethod="post">
                                Thêm
                            </button>
                        </th:block>

                        <th:block th:if="${adminUserDto.id != null}">
                            <button type="submit"
                                    class="btn btn-success"
                                    th:formaction="'/admin/users/update'"
                                    th:formmethod="post"
                            >
                                Lưu
                            </button>
                        </th:block>

                        <th:block th:if="${adminUserDto.id != null}">
                            <a class="btn btn-danger"
                               th:href="@{/admin/users/delete/{id}(id=${adminUserDto.id})}"
                               onclick="return confirm('Bạn có chắc muốn xóa Người dùng này không ?')"
                            >
                                Xóa
                            </a>
                        </th:block>

                    </div>
                </form>
                <!-- End Multi Columns Form -->
            </div>
        </div>
        <script src="/js/previewImage.js"></script>
    </section>
</main>

</body>
</html>
