<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="clientLayout(title,main)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--    Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!--Swiper Slide-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!--    Main Css-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
<!--Start Menu-->
<div th:replace="~{client/component/menu :: menu}"></div>
<!--End Menu-->

<!--Start Header-->
<header th:replace="~{client/component/header :: header}"></header>
<!--End Header-->

<!--Start Main-->
<main id="main" th:replace="${main}"></main>
<!--End Main-->


<!--Start Footer-->
<footer th:replace="~{client/component/footer :: footer}"></footer>
<!--End Footer-->

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

<!--Main JS-->
<!--Scroll to Main-->
<script>
    window.onload = function () {
        scrollToSection("main");
    };

    function scrollToSection(sectionId) {
        var section = document.getElementById(sectionId);
        section.scrollIntoView({behavior: "smooth"});
    }
</script>
</body>
</html>